.root {
  padding: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  row-gap: 30px;

  @media (max-width: 1200px) {
    padding: 60px 40px;
  }

  img {
    @media (max-width: 1000px) {
      width: 350px;
    }
  }

  h2 {
    font-size: 40px;

    @media (max-width: 1000px) {
      font-size: 32px;
    }
  }
  h3 {
    font-weight: 500;
    @media (max-width: 1000px) {
      font-size: 14px;
      font-weight: 400;
      width: 100%;
    }
  }

  button {
    color: white;
    background-color: #ab403f;
    font-size: 18px;
    padding: 18px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;

    @media (max-width: 1000px) {
      font-size: 16px;
    }
  }
}
