.root {
  padding: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  row-gap: 30px;

  h2 {
    font-size: 40px;
  }
  h3 {
    font-weight: 500;
  }

  button {
    color: white;
    background-color: #ab403f;
    font-size: 18px;
    padding: 18px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
  }
}
