//@import "fonts";
@import "./variables.scss";
@import "libs/normalize";

@import "components/all";

body {
  background-image: url(../assets/img/header-bg.png);
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media (max-width: 1500px) {
    width: calc(100vw - 150px);
    margin: 50px auto;
  }
  @media (max-width: 750px) {
    width: calc(100vw - 70px);
    margin: 30px auto;
  }
  @media (max-width: 450px) {
    width: calc(100vw - 40px);
    margin: 20px auto;
  }
}

.content {
  padding: 30px 0;

  &__title {
    margin: 0 0 35px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: 1440px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 750px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__top {
    margin: 0 0 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1200px) {
      flex-direction: column;
      justify-content: start;
      align-items: start;
      row-gap: 30px;
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    width: 80%;
    margin: 90px auto;
    .content__title {
      margin: 0;
    }
    @media (max-width: 900px) {
      width: 90%;
    }
  }
}
